<div id="questionsLoader" [style.display]="loadingQuestions ? 'block' : 'none'">
    <p>Loading questions...</p>
</div>
<div id="questions" [style.display]="showQuestions ? 'block' : 'none'">

<p>Player {{ currentPlayer.name }}:</p>

<p>{{ currentPlayer.stars }} / 5</p>

<p>{{ currentQuestion.question }}</p>
<button (click)="correctAnswer()">{{ currentQuestion.correct_answer }}</button>
<li *ngFor="let incorrect of currentQuestion.incorrect_answers">
<button (click)="incorrectAnswer()">{{ incorrect }}</button>
</li>
</div>
