<div id="questionsLoader" class="container" [style.display]="loadingQuestions ? 'block' : 'none'">
    <p>Loading questions...</p>
</div>
<div id="scoreboard" class="container" *ngFor="let player of players">
    <p>{{ player.name }} : {{ player.stars }} / 5</p>
    <!-- <p>{{ players[turnIndex%1].name}} : {{ players[turnIndex%1].stars}} / 5</p> -->


</div>
<div id="questions" class="container" [style.display]="showQuestions ? 'block' : 'none'">

<p>Player {{ currentPlayer.name }}'s turn:</p>

<p>{{ currentPlayer.stars }} / 5</p>

<h4 [innerHTML]="currentQuestion.question"></h4>
<p>{{ currentQuestion.category }}</p>

<div id="answerButtons" class="d-grid gap-2 col-6">

</div>
</div>
