<div id="questionsLoader" class="container" [style.display]="loadingQuestions ? 'block' : 'none'">
    <p>Loading questions...</p>
</div>
<div id="scoreboard" class="container">
    <p>{{ players[turnIndex%2].name}} : {{ players[turnIndex%2].stars}}</p>
    <p>{{ players[turnIndex%1].name}} : {{ players[turnIndex%1].stars}}</p>


</div>
<div id="questions" class="container" [style.display]="showQuestions ? 'block' : 'none'">

<p>Player {{ currentPlayer.name }}'s turn:</p>

<p>{{ currentPlayer.stars }} / 5</p>

<h4 [innerHTML]="currentQuestion.question"></h4>
<p>{{ currentQuestion.category }}</p>

<div id="answerButtons">

</div>
</div>
